/* SELETOR UNIVERSAL - QUE MUDA A PAGINA TODA */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/*body{
     overflow-y: hidden; 
}*/
/* MENU */
nav{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100vw;
    background-color: #FCFFFF;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.74);
    position: fixed;
    top: 0px;
    background-color: white;
    z-index: 1;
}
#menu{
    height: 20px;
    background-color: #FCFFFF;
    display: flex;
    align-items: center;
}
#menu li{
    display: inline;
    padding: 2rem;
    font-size: medium;
    font-weight: 300;
}
#menu ul{
    list-style-type: none;
}
#menu a{
    text-decoration: none;
    color: #2898BB;
    font-weight: 600;
    font-style: normal;
    font-size: 1.2rem;
}
#menu a:hover{
    color: #FCFFFF;
    font-weight: 700;
    font-style: normal;
    color: #5730c2;
}
/* FIM DO MENU */

/* PRIMEIRO ARTICLE */
.porDoSol{
    width: 100vw;
    height: 32rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/img/PorDoSOL.jpg");
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
}
.porDoSol h1{
    color: #FCFFFF;
    text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.74);
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
}
/* SEGUNDO ARTICLE */
.historia{
    margin-top: 4rem;
    text-align: center;
}
.conteudoHistoria{
    display: flex;
    align-items: center;
    justify-content: center;
}
.historia h1{
    color: #2898BB;
    font-size: 1.8rem;
}
.historia p{
    text-align: justify;
    margin-top: 2rem;
    width: 46rem;;
    color: #30302d;
    font-size: 1rem;
}

/* TERCEIRO ARTICLE */
.algunsServicos{
    margin-top: 4rem;
    background-color: #2898BB;
    padding-top: 4rem;
    display: flexbox;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 2rem;
}
.algunsServicos h1{
    color: #FCFFFF;
    font-size: 1.8rem;
}
.img-grupo{
    /* VERIFICAR COM CALMA ESSE ELEMENTO */
    /* margin-left: 20%;  */
    margin-left: auto;
    margin-right: auto;
    width: 50rem;
    text-align: left;
    margin-top: 2rem;
    height: 18rem;
}
.img-grupo p{
    padding: 15px 15px 24px 19px;
    color: #30302d;
    background-color: #d0dbf8;
    margin-top: -7px;
    font-size: 0.8rem;
}
.img-container {
    float: left;
    width: 33.33%;
    padding: 8px;
  }
  .img-container img{
    width: 100%;
  }
  .botaoVerMais{
    margin-right: auto;
    margin-left: auto;
    clear: left;
    width: 8rem;
    height: 2.5rem;
    background-color: #1624ee;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 30px;
  }
  .botaoVerMais a{
    color: #FCFFFF;
    text-decoration: none;
    font-size: 1rem;
  }

  /* QUARTO ARTICLE */
  .localizacao{
    margin-top: 4rem;
    /* height: 28rem; */
    margin-bottom: 3.5rem;
  }
  .tituloAoCentro{
    text-align: center;
  }
    .localizacao h1{
        font-size: 1.8rem;
        color: #2898BB;
        margin-bottom: 3rem;
    }

    .container-localizacao{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-localizacao iframe{
        margin-right: 4rem;
    }
    .container-localizacao p{
        font-size: 1.4rem;
        width: 20rem;
    }

    /* RODAPÉ */
    footer{
        clear: left;
        height: 60px;
        background-color: #2898BB;
        color: #FCFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        font-size: 0.8rem;
    }

    /* REPOSIVIDADE PARA MONITORIAS MENORES */
    @media only screen and (max-width: 900px) {
        /* MENU */
        nav{
            height: 60px;
        }
        #menu a{
            font-size: 1rem;
        }
        /* PRIMEIRO ARTICLE */
        .porDoSol{
            height: 28rem;
        }
        .porDoSol h1{
            font-size: 2.5rem;
        }
        /* SEGUNDO ARTICLE */
        .historia h1{
            font-size: 1.5rem;
        }
        .historia p {
            font-size: 0.6;
            width: 40rem;
        }
        /* TERCEIRO ARTICLE */
        .algunsServicos h1{
            font-size: 1.5rem;
        }
        .img-grupo{
            width: 40rem;
        }
        .botaoVerMais{
            width: 7rem;
            height: 2rem;
        }
        .botaoVerMais a {
            font-size: 0.8rem;
        }
        /* QUARTO ARTICLE */
        .localizacao h1{
            font-size: 1.5rem;
        }
        .container-localizacao p{
            font-size: 1.2rem;
        }
        footer{
            font-size: 0.6rem;
        }
        }
